{% macro render_pagination(pagination) %}

  <div class="pagination">
    {% if pagination.has_prev %}
      <a href="{{ pagination.prev|url }}">&laquo; Previous</a>
    {% else %}
      <span class="disabled">&laquo; Previous</span>
    {% endif %}

    |
    <input value="{{ pagination.page }}" type="text" id="page_num" name="page" style="width:70px;" /> / {{pagination.total/pagination.per_page}}

    |
    {% if pagination.has_next %}
        <a href="{{ pagination.next|url }}">Next &raquo;</a>
    {% else %}
        <span class="disabled">Next &raquo;</span>
    {% endif %}
  </div>


{% endmacro %}
