{% extends 'base.html' %}

{% block title %}
    About - ProjectChalam
{% endblock title %}


{% block content %}

    <h3>About</h3>
    <p>
        The main aim of the project is to provide simple access public domain telugu books.
    </p>
    <br/>

    <h3>Roadmap</h3>

    <strong>1. Collect Resources</strong>
    <p>
        Gather various sites where public domain telugu books are available. Scrape those sites and build a database.
    </p>

    <strong>2. Clean Data</strong>
    <p>
        Collected books database should be cleaned. This includes removing duplicate books, providing telugu tranlations for missing titles, adding metadata e.t.c.
    </p>

    <strong>3. OCR</strong>
    <p>
        A good Telugu OCR software is needed. All books should be OCRed and generate epub/mobi books.
    </p>

    <br />

    <h3>Get Involved</h3>

    <p>If you are interested to help with this project, please get in touch.</p>

    <iframe src="https://docs.google.com/forms/d/1Zfu_Pvg0ablv4oGzy-jzBkeHAX9m5lfawXZVhTmwUGA/viewform?embedded=true" width="760" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>


{% endblock %}
