{% extends "base.html" %}

{% block title %} Books  {% endblock %}




{% block content %}

    <img src="{{ '/static/images/pachani.gif' | url }}">
    <hr />

    <img src="{{ '/static/images/sritulasi.gif' | url }}">
    <hr />

    <img src="{{ '/static/images/subhashita.gif' | url }}">
    <hr />

    <img src="{{ '/static/images/swarna.gif' | url }}">
    <hr />

    <img src="{{ '/static/images/vajra.gif' | url }}">
    <hr />

    <img src="{{ '/static/images/vyasa.gif' | url }}">
    <hr />


{% endblock %}
