{% extends 'base.html' %}

{% block title %}
    Copyright - ProjectChalam
{% endblock title %}


{% block content %}

    <h3>Copyright Policy</h3>

    <p>
        The copyright policy is as per the Indian CopyRight Act 1957.
    </p>


    <p>
        All the books/links on ProjectChalam website are in public domain.
    </p>


    <p>
        However, in case of a possible error in copyright checking, if the author or publisher fills out this form including a link to book, we will remove it from our site.
    </p>
    <br/>

    <h3>Form</h3>

    <iframe src="https://docs.google.com/forms/d/1Zfu_Pvg0ablv4oGzy-jzBkeHAX9m5lfawXZVhTmwUGA/viewform?embedded=true" width="760" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>



{% endblock %}
