{% extends "base.html" %}

{% from "macros/pagination.html" import render_pagination %}

{% block title %}Books{% endblock %}


{% block content %}
    Showing {{this.pagination.page*this.pagination.per_page - this.pagination.per_page + 1}}
    to {{this.pagination.page*this.pagination.per_page}}
    of {{this.pagination.total}}
    <br />
    <br />
    {% for post in this.pagination.items %}
        <h4>
            <a href="{{ post|url }}">
                {% if post.t_title %}
                    {{ post.t_title }} [{{ post.title }}]
                {% else %}
                    {{ post.title }}
                {% endif %}
                {% if post.author %}
                    by {{ post.author }}
                {% endif %}
            </a>
        </h4>
        <br/>

    {% endfor %}

    <div style="padding-left: 45px;">
        {% if this.pagination.pages > 1 %}
            {{ render_pagination(this.pagination) }}
        {% endif %}
    </div>

    <script src="{{ '/static/js/jquery-1.12.3.min.js'}}"></script>

    <script>
    // go to page
    $("#page_num").click(function() {
        $(document).keypress(function(e) {
            if(e.which == 13) {
                var num = $('#page_num').val();
                var url = window.location.origin + '/ebooks/page/' + num + '/';
                /*                 console.log(url); */
                window.location.replace(url);
            }
        });
    });

    </script>


{% endblock %}
