{% extends 'base.html' %}

{% block css %}
    <style>
     .container {
         height: 100%;
     }
     .info {
         margin-left: 25%;
         margin-right: 25%;
     }
    </style>
{% endblock %}


{% block title %}
    Amudalamurali
{% endblock title %}


{% block content %}
    <div class="text-center info">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h1>Amudala Murali</h1>
        <h4>Amudala Murali is an avadhani, poet, writer and lecturer. He performed avadhanam at serveral places in India. He wrote 6 books. His poems and articles were published in several magazines. He works as a lecturer at Vijaya Krishna Jr. Collge, Tirupati.</h4>

    </div>
{% endblock %}
