{% extends 'base.html' %}

{% block title %}
    Videos
{% endblock title %}


{% block content %}

    <iframe width="560" height="315" src="https://www.youtube.com/embed/CvE8oku5ofI" frameborder="0" allowfullscreen></iframe>
    <hr >

    <iframe width="560" height="315" src="https://www.youtube.com/embed/k25P-4qZfY0" frameborder="0" allowfullscreen></iframe>
    <hr >

    <iframe width="560" height="315" src="https://www.youtube.com/embed/aapG-ldRZOc" frameborder="0" allowfullscreen></iframe>
    <hr >

    <iframe width="560" height="315" src="https://www.youtube.com/embed/rozgELaNzEA" frameborder="0" allowfullscreen></iframe>
    <hr >

    <hr >



{% endblock %}
